<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Insert title here</title>
</head>
<body>
	<h1>I love carbs.</h1>
	
	<p>I like {{ variety }} potatoes</p>
	<p>You should cook these at {{ temperature }}&deg; degrees</p>
	
	<form action="survey">
		What kind of potato do you like?
		<select name="answer">
			<option>Russet</option>
			<option>Golden</option>
			<option>Sweet</option>
			<option>None (I'm on the keto diet)</option>
		</select>
		<button>Submit your answer</button>
	</form>
	
	<img width="200" src="http://1.bp.blogspot.com/-yJWFCX4ukWc/UQnBiCP2V2I/AAAAAAAAKGQ/HsJLO23u9ZE/s1600/Twice-Baked+Potatoes.jpg">
</body>
</html>










